MONGO_URI=mongodb://37696_db_user:LJlJnSdqYZEbteQG@ac-a4mi18o-shard-00-00.eg21myh.mongodb.net:27017,ac-a4mi18o-shard-00-01.eg21myh.mongodb.net:27017,ac-a4mi18o-shard-00-02.eg21myh.mongodb.net:27017/?ssl=true&replicaSet=atlas-tmruhn-shard-0&authSource=admin&appName=tawproject
JWT_SECRET=your_jwt_secret_here
PORT=5000
